.gs {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: default;
  }
  
  .gs.selected {
    background-color: blue;
    color: white;
    cursor: default;
  }

